.flexGroup {
  display: flex;
  align-items: center;
}

.smallerInputBox {
  width: 30px;
}

.leftMargin {
  margin-left: 1rem;
}

.marginBotton {
  margin-bottom: 1rem;
}

.border {
  border: 1px solid blue;
}

.comp {
  width: 300px;
}

.btns {
  display: flex;
}

ul {
  padding: 0;
  list-style-type: none;
}

.nonActive {
  display: none;
}
