@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400&display=swap");

/* variables */
:root {
  /* colors */
  --green: rgb(100, 235, 111);
  --blue: blue;
  --red: red;
  --purple: #350a85;
  /* font */
  --codeFont: "Source Code Pro", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--codeFont);
  color: var(--green);
  /* background-color: black; */
}

.title {
  margin: 0.5rem 0 0 1rem;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--blue);
}

.amount {
  display: flex;
  /* border: 1px solid blue; */
  /* border-style: dashed; */
  margin: 2rem 0 1rem 1rem;
  padding: 0 0 0 0.5rem;

  width: 300px;
}

.client {
  border: 1px solid blue;
  margin: 0 0 1rem 1rem;
  padding: 1rem 0 1rem 0.5rem;
  position: relative;
  width: 400px;
}

.result {
  border: 2px solid var(--green);
  border-style: dashed;
  margin: 0 0 1rem 1rem;
  padding: 1rem 0 1rem 0.5rem;
  width: 400px;
  color: black;
}

.npsResult {
  color: blue;
}

.resultTitle {
  margin: 0 0 0.5rem 1rem;
  padding: 0 0 0 0.5rem;
}

/* inputs */

.input {
  color: var(--blue);
  font-family: var(--codeFont);
  font-size: 14px;
  font-weight: bold;
}

.shortInput {
  width: 50px;
  margin-left: 0.5rem;
  margin-right: 7px;
}

.mediumInput {
  width: 90px;
  margin-left: 0.5rem;
}

.longInput {
  width: 230px;
  margin-left: 0.5rem;
}

/* spacing */

.spaceBottom {
  padding-bottom: 1rem;
}

/* component flexing */

.flexGroup {
  display: flex;
  align-items: center;
}

.leftMargin {
  margin-left: 1.5rem;
}

/* .marginBotton {
  margin-bottom: 1rem;
} */

.border {
  border: 1px solid blue;
}

/* buttons */

.btn {
  color: var(--purple);
  background: pink;
  border: none;
  outline: none;

  padding: 8px 8px;
  /* text-align: center; */
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  font-family: var(--codeFont);
}

.btn:hover {
  background-color: var(--purple);
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 0 0 1rem 1rem;
}

.comp {
  width: 300px;
}

ul {
  padding: 0;
  list-style-type: none;
}

.nonActive {
  display: none;
}

.close {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 375px;
  bottom: 55px;
  color: red;
  font-size: 35px;
  font-weight: lighter;
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
