.flexGroup {
  display: flex;
  align-items: center;
}

.smallerInputBox {
  width: 40px;
}

.leftMargin {
  margin-left: 1rem;
}

.marginBotton {
  margin-bottom: 1rem;
}

.border {
  border: 1px solid blue;
}

.comp {
  width: 300px;
}

.btns {
  display: flex;
}

ul {
  padding: 0;
  list-style-type: none;
}

.nonActive {
  display: none;
}

.close {
  position: relative;
  left: 40px;
  bottom: 15px;
  color: black;
  font-size: 30px;
  font-weight: lighter;
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
